<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @empresa.rif %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @empresa.contraseña %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @empresa.correo %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
