<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @aspirante.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @aspirante.apellidos %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @aspirante.cedula %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @aspirante.sexo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @aspirante.fecha %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @aspirante.correo %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @aspirante.contraseña %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @aspirante.telefono %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @aspirante.estado %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @aspirante.municipio %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @aspirante.celular %>
</p>

<p>
  <strong>Discapacidad:</strong>
  <%= @aspirante.discapacidad %>
</p>

<p>
  <strong>Intereses:</strong>
  <%= @aspirante.intereses %>
</p>

<p>
  <strong>Bachillerato:</strong>
  <%= @aspirante.bachillerato %>
</p>

<p>
  <strong>Mencion:</strong>
  <%= @aspirante.mencion %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @aspirante.institucion %>
</p>

<p>
  <strong>Estudios universitarios:</strong>
  <%= @aspirante.estudios_universitarios %>
</p>

<p>
  <strong>Institucion otros estudios:</strong>
  <%= @aspirante.institucion_otros_estudios %>
</p>

<p>
  <strong>Area universidad:</strong>
  <%= @aspirante.area_universidad %>
</p>

<%= link_to 'Edit', edit_aspirante_path(@aspirante) %> |
<%= link_to 'Back', aspirantes_path %>
