<h1>Lista de Cargos</h1>
 
 <%= link_to 'Nuevo Cargo', new_charge_path %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Cliente</th>
    <th>Area</th>
    <th>Sede</th>
    <th>Idioma</th>
    <th>Tiempo</th>
    <th>Anos de Experiencia</th>
  </tr>
 
  <% @charge.each do |charge| %>
    <tr>
      <td><%= charge.nombre %></td>
      <td><%= charge.cliente %></td>
      <td><%= charge.area %></td>
      <td><%= charge.sede %></td>
      <td><%= charge.idioma %></td>
      <td><%= charge.time %></td>
      <td><%= charge.anosexp%></td>

      <td><%= link_to 'Mostrar', charge_path(charge) %></td>
      <td><%= link_to 'Editar', edit_charge_path(charge) %></td>
      <td><%= link_to 'Eliminar', charge_path(charge),
              method: :delete,
              data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</table>