<h2>Lista de Cargos</h2>
 
 <%= link_to '<button class="btn btn-primary" > Nuevo Cargo </button>'.html_safe, new_charge_path %>
<br>
<br>

<table  class="table table-bordered" >
<thead>
  <tr>
    <th>Nombre</th>
    <th>Cliente</th>
    <th>Ver</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
</thead>
 <tbody>
  <% @charge.each do |charge| %>

    <tr>
      <td><%= charge.nombre %></td>
      <td><%= charge.cliente %>  </td>
      <td><%= link_to '<span class="glyphicon glyphicon-eye-open" ></span>'.html_safe, charge_path(charge) %></td>
      <td><%= link_to '<span class="glyphicon glyphicon glyphicon-pencil" ></span>'.html_safe, edit_charge_path(charge) %></td>
      <td><%= link_to '<span class="glyphicon glyphicon glyphicon-trash" ></span>'.html_safe, charge_path(charge),
              method: :delete,
              data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>



<td> <!--%= link_to 'Click Here', edit_charge_path(charge), data: {toggle: "modal", target: "#myModal"} %> </td>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>