<p>
  <strong>Nombre:</strong>
  <%= @charge.nombre%>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @charge.cliente%>
</p>
 
<p>
  <strong>Area:</strong>
  <%= @charge.area %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @charge.sede%>
</p>
<p>
  <strong>Idioma:</strong>
  <%= @charge.idioma%>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @charge.time%>
</p>
<p>
  <strong>Anos de Experiencia:</strong>
  <%= @charge.anosexp%>
</p>